/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: #a6aac7;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans Unicode';
}


/*tira o sublinhado do link*/
a{
    text-decoration: none;
}